*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Open Sans;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* 
font-family: 'Open Sans', sans-serif;
*/
/****************************
    header section css
*****************************/
.header-content{
    background-color:#FFF8F3 ;
    padding-top: 3.13rem;
    background-image: url('../img/header_bg.png'), url('../img/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}
.logo{
    color:  #181818;
    font-family: Open Sans;
    font-size: 2.8125rem;
    font-weight: 800;  
}
.logo span{
    color: #FD6E0A;  
}
.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu ul{
    display: flex;
    list-style:none ;
    align-items: center;

}
.nav-menu ul li a{
    color: #474747;
    margin-right:3.19rem ;
    font-family: Open Sans;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}
.btn-praimary{
    background-color: #FD6E0A;
    border-style: none;
    color: white;
    font-family: Open Sans;
    font-size: 1.25rem;
    font-weight: 700;
    padding:1rem 2.25rem ;
    border-radius: 0.5rem;
}
/****************************
    banner section css
*****************************/
.banner{
    padding: 2rem 0rem 0rem 20%;
    display: flex;
    align-items: center;
}
.banner-img{
    width: 36.5rem;
   
}
.banner-content h3{
    color: var#474747;
    font-family: Open Sans;
    font-size: 2.8125rem;
    font-weight: 600;
}
.banner-content h1{
    color:#181818;
font-family: Open Sans;
font-size: 5.3125rem;
font-weight: 700;
}
.banner-content p{
color: #757575;
font-family: Open Sans;
font-size: 1.125rem;
font-weight: 400;
line-height: 1.875rem;
margin: 0 0 1.87rem 0;
}
.banner-btn{
    background-color: transparent;
    border-style: none;
    border: 1px solid #FD6E0A;
    color:#FD6E0A ;
    font-family: Open Sans;
    font-size: 1.25rem;
    font-weight: 700;
    padding:1rem 2.25rem ;
    border-radius: 0.5rem;   
}
.banner-btn:hover{
    background-color: #FD6E0A;
    color: #FFF;
}
/****************************
    about section css
*****************************/
.about{
    margin:8.3rem 0 ;
}
.about-c{
    background-color: #FFF8F3;  
    padding: 8.19rem 9.75rem;
    border-radius: 0.625rem;
    margin: auto;
}

.about-i h3{
color:#181818;
text-align: center;
font-family: Open Sans;
font-size: 2.1875rem;
font-weight: 700;
}
.about-i p{
text-align: center;
font-family: Open Sans;
font-size: 1rem;
font-weight: 400;
line-height: 1.875rem;

}
.about-info{
    display: flex;
    justify-content: space-between;
    margin:1.87rem 0 0 0  ;    
}
.about-info div{
    margin: 0 .1rem ;
}
.about-info p{
    color:#757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.875rem;  
}
.about-info h6{
color:  #474747;
font-family: Open Sans;
font-size: 1rem;
font-weight: 700;
line-height: 1.875rem;
}
/****************************
     section css
*****************************/
.what-i-d h2{
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 2.1875rem;
    font-weight: 700; 
}
.about-i p, .about-info p {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
}
.skils{
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
}
.skils h5{
    color:#181818;
    font-family: Open Sans;
    font-size: 1.25rem;
    font-weight: 700; 
}
.skils p{
    color: #757575;
    font-family: Open Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: left;
}
.js, .react, .node, .mongo{
    padding:2rem ;
    margin: 3.13rem .75rem;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.js h5, .react h5, .node h5, .mongo h5{
    margin: 1.8rem 0;
    grid-template-areas: ;
}