*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* 
font-family: 'Open Sans', sans-serif;
*/
/****************************
    header section css
*****************************/
.logo{
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 2.8125rem;
    font-weight: 800;  
}
.logo span{
    color: #FD6E0A;  
}
.nav-item{
    display: flex;
    justify-content: space-between;
    margin-top: 3.13rem;
    align-items: center;
}
.nav-menu ul{
display: flex;
list-style:none ;
align-items: center;

}
.nav-menu ul li a{
    color: #474747;
    margin-right:3.19rem ;
    font-family: Open Sans;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}
.nav-menu button{
    background-color: #FD6E0A;
    border-style: none;
    color: white;
    font-family: Open Sans;
    font-size: 1.25rem;
    font-weight: 700;
    padding:1.12rem 2.25rem ;
    border-radius: 0.5rem;
}